body{
    background: #EEE;
}
.show-block{
    display: block !important;
}
.hide-block{
    display: none;
}
i{
    margin: 0 5px;
}
.page-header.navbar .page-logo {
    padding-left: 0;
    height: 59px;
}

.page-header.navbar .page-logo .logo-default {
        margin: 0;
    }
.mainbox .portlet.box.grey > .portlet-title{
    background-color: #f5f5f5;
}
.mainbox .portlet.box.grey > .portlet-title .caption{
    font-size: 14px;
    font-weight: 600;
    color: #34495e;
}
.mainbox .portlet.box.grey > .portlet-title .caption i,
.mainbox .portlet.box.grey > i{
    color: #34495e;
    float: none;
    font-size: inherit;
}
.mainbox .portlet{
    border-left: none !important;
    margin-bottom: 0;
}
.mainbox .portlet .portlet-body{
    font-size: 13px;
}
.mainbox .portlet.box.grey{
    border-color: #ddd;
}
.mainbox .portlet.box > .portlet-title{
    color: #888 !important;
    border-bottom: 1px solid #ddd;
}
.panel-heading.portlet-page{
    padding: 12px 10px;
}
.portlet > .portlet-body.green, .portlet.green {
    background-color: #5BCA45;
}
.portlet.box.green {
    border-color: -moz-use-text-color #5BCA45 #5BCA45;
}
.portlet.box > .portlet-title > .tools > a.collapse{
    background-image: url(img/portlet-collapse-icon.png);
}

.portlet.box > .portlet-title > .tools > a.expand{
    background-image: url(img/portlet-expand-icon.png);
}

.portlet.sub-portlet{
    border: none !important;
}
.portlet.sub-portlet .portlet-title{
    border: none !important;
    padding: 0 !important;
    background-color: #fff !important;
    min-height: 10px !important;
}
.portlet.sub-portlet .portlet-title .tracker-info{
    float: left;
}
.portlet.sub-portlet .portlet-title .tools{
    padding: 0 !important;
}
.portlet.sub-portlet .portlet-title > .tools > a{
    width: 12px;
    height: 12px;
}
.portlet.sub-portlet .portlet-body{
    padding: 3px 10px;
}
.portlet.sub-portlet .portlet-title .tools > a.expand{
    background-image: url(img/plus.png);
    background-size: 12px;
}
.portlet.sub-portlet .portlet-title .tools > a.collapse{
    background-image: url(img/minus.png);
    background-size: 12px;
}

.page-header.navbar {
    height: 59px;
    min-height: 59px;
    padding: 0 20px 0 0;
}

.page-header-fixed .page-container {
    margin-top: 59px;
}

.link {
    cursor: pointer;
}
.link img{
    display: inline;
}
.link > h5{
    color: #5BCA45;
    display: inline;
    text-decoration: underline;
}

.portlet > .portlet-title > .caption > i {
    margin-top: 3px;
    color: #34495e
}

.progress {
    margin-bottom: 0;
}

p.no-margin {
    margin: 0;
}

p.no-padding {
    padding: 0;
}

.modal-body > .portlet {
    margin-bottom: 0;
}

.c3-region.regionY2 {
    fill: green;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }
@media (min-width:768px) {
    .remove-left-padding {
        padding-left: 0;
    }

    .page-header .top-menu .dropdown-quick-sidebar-toggler > .dropdown-toggle {
        padding-top: 22px !important;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
        padding-top: 22px;
    }

    .navbar-nav > li > a {
        min-height: 59px;
    }
}

.page-content-wrapper .page-content {
    padding-top: 1px !important;
}

.page-content {
    background-color: #eeeeee;
    padding-top: 1px !important;
}
.page-title{
    font-size: 16px !important;
    margin: 5px 0 !important;
    font-weight: 400;
}

.page-header.navbar {
    background-color: #5BCA45;
}

    .page-header.navbar .hor-menu .navbar-nav > li > a {
        color: white;
        min-height: 59px;
        padding: 19px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
        color: white;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
        color: white;
    }

    .page-header.navbar .hor-menu .navbar-nav > li:hover > a,
    .page-header.navbar .hor-menu .navbar-nav > li.open > a,
    .page-header.navbar .hor-menu .navbar-nav > li > a:hover {
        background: #328D20 !important;
        color: white;
    }

    .page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a {
        background: #328d20 none repeat scroll 0 0 !important;
        color: white;
    }

    .page-header.navbar .hor-menu .navbar-nav > li.active .selected, .page-header.navbar .hor-menu .navbar-nav > li.current .selected {
        border-top: 6px solid #328d20;
    }

.navbar-nav > li:hover > a,
.navbar-nav > li.open > a,
.navbar-nav > li > a:hover {
    background: #328D20 !important;
    color: white;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle:hover > .username,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username:hover {
    background: #328D20 !important;
    color: white;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover > i,
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i:hover {
    background: #328D20 !important;
    color: white;
}


hr {
    border-bottom: 1px solid #C2CAD8;
    margin-top: 0;
}

.mainbox > .portlet-body{
    padding-top: 0px !important;
}
.tabbable-line{
    padding-top: 0px !important;
}
.portlet-title hr {
    border-bottom: 1px solid #A6D053;
}

.form .form-actions {
    background-color: #F7FDF2;
    border-top: 1px solid #f7fdf2;
}

.note {
    border-left: 5px solid #5dc075;
    box-shadow: 2px 2px 4px #888888;
    background-color: white;
}

.tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #80CD47;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #80CD47;
}

.tabbable-line > .nav-tabs > li:hover > a,
.tabbable-line > .nav-tabs > li > a:hover {
    color: #80CD47;
}

.tabbable-line > .nav-tabs > li.active > a {
    color: #80CD47;
}

.alert-success {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #393939;
}

.page-footer {
    background-color: #c3c3c3;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

    .page-footer .page-footer-inner {
        display: inherit;
        float: none;
        text-align: center;
        color: green;
    }

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
    background: white none repeat scroll 0 0;
    box-shadow: 3px 3px 3px 3px rgba(57, 57, 57, 0.27);
}

    .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
        color: inherit;
    }

        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a:hover,
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
            background-color: #328D20;
            color: white;
        }

.text-error {
    color: red;
}



th {
    text-transform: capitalize;
    background-color: #eef1f4;
    cursor: pointer;
}

    th:hover {
        color: #337ab7;
    }

    th span {
        text-transform: capitalize;
    }

    th a, th a:hover {
        color: #34495E;
    }

        th a .fa {
            color: #c9daff;
        }

.active-sort .fa {
    color: #328d20 !important;
}

.page-header.navbar .menu-toggler.responsive-toggler {
    margin-top: 20px;
}

h3 span.info {
    color: black;
    font-size: 15px;
    vertical-align: middle;
}

.modal-dialog {
    margin-top: 5%;
}

.close {
    background-image: url("assets/global/img/portlet-remove-icon-white.png") !important;
    opacity: 1;
    height: 20px;
    width: 20px;
    margin-top: 12px;
}

.fa-info-circle {
    cursor: context-menu !important;
}

.tooltip {
    z-index: 9996 !important;
}
.ttbox{
    border: 3px solid;
    /*margin: -9px;*/
    display: block;
    background-color: #fff;
    position: relative;
    white-space: nowrap;
}
.tt_title{
    color: #fff;
    /*padding: 3px 4px 6px 7px;*/
}
.tt_title img{
    vertical-align: text-bottom;
}
.tt_title span{
    line-height: 24px;
    /*margin: 5px;*/
    /*padding-left: 6px;*/
}
.tt_body{
    /*padding: 3px;*/
}
.tt_body span{
    padding: 3px 10px;
    line-height:20px;
}
.tt_temperature{
    border-right:1px dotted;
}
ng-map{
    margin-left: 40px;
}
.ttbox .mark{
    content: '\00a0';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    bottom: -5px;
    left: 50%;
    transform: rotate(47deg) skew(5deg);
    -moz-transform: rotate(47deg) skew(5deg);
    -ms-transform: rotate(47deg) skew(5deg);
    -o-transform: rotate(47deg) skew(5deg);
    -webkit-transform: rotate(47deg) skew(5deg);
}
#start-location,
#end-location{
    z-index: -1;
}
.start-loc-box b,
.end-loc-box b{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2px;
}
.start-loc-box{
    width: 300px;
    float: left;
}
.start-marker-content{
    margin-left: 138px;
}
.end-loc-box{
    width: 300px;
    text-align: right;
}
.end-marker-content{
    margin-right: 138px;
    float: right;
}
.panel{
    margin: 0;
    /*margin-bottom: -1px;*/
    border-left: none !important;
    border-top: none !important;

}
.panel-title{
    font-size: 14px;
    font-weight: 600;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.panel-body{
    line-height: 20px;
}
.tabbable-line .col-sm-3{
    padding-left: 0 !important;
}
.tracker-info,
.tracker-info:hover,
.tracker-info:focus{
    text-decoration: none;
}
.tracker-info:hover .tracker-id,
.tracker-info .tracker-id:hover{
    color: #00F;
}
.tracker-id{
    text-decoration: underline;
    padding: 0 5px;
    font-weight: 900;
    color: #000;
}
.shipment-desc{
}
.tracker-desc td:first-child{
    font-weight: 700;
    padding-right: 15px;
}
.tracker-desc td:last-child{
    
}
.tracker-desc td{
    vertical-align: top;
}
.bold-font{
    font-weight: 700;
}
.light-bold-font{
    font-weight: 600;
}
.load-icon{
    width: 15px;
    float: right;
}
.dottext{
    font-size: 26px;
    font-family: "Aria";
}
.tiny-icon17{
    width: 17px;
}
.tiny-icon15{
    width: 15px;
}

.alert-notification{
    border-radius: 3px !important;
    margin: 10px 10px;
    padding: 10px;
    background: #fff;
}

.alert-notification .close {
    background-image: url("assets/global/img/portlet-remove-icon.png") !important;
    margin-top: 0px;
    width: 13px;
    height: 13px;
}
.alert-notification img{
    width: 24px;
    height: 24px;
}
.alert-notification .alert-heading{
    text-decoration: underline;
    color: #000;
    display: inline;
}
.alert-notification p{
    font-weight: 700;
    color: #000;
    padding-left: 24px;
}
.alert-notification p.notification-time{
    color: #888
}
.notification-body{
    background-color: #e3e3e3;
    border-color: #ccc !important;
    border-radius: 3px !important;
    max-width: 375px !important;
    width: 375px !important;
}
.notification-body .external .bold{
    color: #000;
}
.notification-body .external{
    background-color: #f8f8f8;
    padding: 10px 15px !important;
    border-bottom: 1px solid #ccc;
}
.notification-body .external.bottom{
    border-bottom: none;
    border-top: 1px solid #ccc;
}
.notification-body .external.bottom button{
    color: #5BCA45;
    text-decoration: underline;
    border: none;
    background: transparent;
    font-weight: 600;
}
.notification-body .external.bottom button:hover{
    color: #45ab31;
}
.notification-body .scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}
.notification-body .scrollable-menu > p{
    text-align: center;
    margin: 0 !important;
}
.notification-body li.external > label{
    margin: 0 !important;
}
.notification-body .alert-read{
    background: #eee;
}
.shipment-marker{
    padding:3px;
    overflow:hidden;
    position:absolute;
    bottom:0;
    border-top-left-radius:15px !important;
    border-top-right-radius:15px !important;
    border:1px solid #5BCA45;
    color:white;
    background-color:#5BCA45;
    width: 40%;
    margin-left: 30%;
}
.bottom-margin{
    margin-bottom: 40px;
}
.user-detail .portlet-body{
    padding: 25px !important;
}
.user-detail h5{
    font-weight: 700;
    display: inline;
    margin-right: 10px;
}
.user-detail p{
    font-style: italic;
}
