<div class="login">
	<div class="logo">
		<img src="theme/img/logo-big.png" alt="Logo comes here..." /> 
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->

		<h3 class="form-title">Forget Password ?</h3>
		<div class="form-text">Enter your e-mail address below for a reminder.</div>

		<div class="control-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-envelope"></i>
					<input class="m-wrap placeholder-no-fix" type="email" autocomplete="off" placeholder="E-mail" name="e-mail" ng-model="usermail" />
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn grey pull-left" ng-click="back()">
				<i class="m-icon-swapleft m-icon-black"></i> Back
			</button> 
			<button type="submit" class="btn green pull-right" ng-click="forget()">
				Submit <i class="m-icon-swapright m-icon-white"></i>
			</button>
			<div style="clear:both;"></div>   
		</div>
	</div>
	<div class="create-account">
		<p>
			<a href="javascript:;" id="contact-us" >Contact Us</a>
			<a href="javascript:;" id="privacy-policy">Privacy Policy</a>
		</p>
	</div>
</div>
