
<!--<h3 class="page-title" ng-init="Init()">
    Users
</h3>-->
<div class="portlet box green " ng-init="Init()">
    <div class="portlet-title">
        <div class="caption">
            <!--<i class="fa fa-bell"></i> List of shipment templates-->
            <img style="margin-top:-8px" src="../../theme/img/headerUsers.png" />  List of Users
        </div>
    </div>
    <div class="portlet-body">
        <div class="pull-left">
            Show
            <select class="form-control" style="width:auto;display:inline-block" ng-change="PageSizeChanged()" ng-model="PageSize">
                <option value="20" selected>
                    20
                </option>
                <option value="50">
                    50
                </option>
                <option value="100">
                    100
                </option>
            </select>
        </div>
        <div class="pull-right">
            <a class="btn btn-default pull-right" href="#/manage/add-user"><i class="fa fa-plus"></i>&nbsp;Add New User</a>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr />
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th width="15%" ng-click="Sorting('email')">
                        <span class="pull-left">UserName</span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='email'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='email'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th width="11%" ng-click="Sorting('firstName')">
                        <span class="pull-left">FirstName</span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='firstName'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='firstName'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th width="11%" ng-click="Sorting('lastName')">
                        <span class="pull-left">LastName</span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='lastName'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='lastName'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th width="15%" ng-click="Sorting('companyName')">
                        <span class="pull-left">Company</span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='companyName'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='companyName'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th width="10%" ng-click="Sorting('position')">
                        <span class="pull-left">Position</span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='position'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='position'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th width="15%" ng-click="Sorting('roles')">
                        <span class="pull-left">Roles</span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='roles'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='roles'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th width="8%" ng-click="Sorting('active')" class="text-center">
                        <span >Active</span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='active'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='active'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr ng-repeat="user in UserList">
                    <td width="15%">
                        {{user.email}}
                    </td>
                    <td width="11%">
                        {{user.firstName}}
                    </td>
                    <td width="11%">
                        {{user.lastName}}
                    </td>
                    <td width="15%">
                        {{user.companyName}}
                    </td>
                    <td width="10%">
                        {{user.position}}
                    </td>
                    <td width="15%">
                        {{user.roles}}
                    </td>
                    <td width="8%" class="text-center">
                        <i class="fa fa-check fa-lg" ng-if="user.active"></i>
                    </td>
                    <td class="text-center" width="7%">
                        <a class="btn green" href="#/manage/edit-user/{{user.id}}" ><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                    </td>
                    <td class="text-center" width="8%">
                        <a class="btn green" ng-click="confirm(user.id)"><i class="fa fa-remove"></i>&nbsp;Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <pagination class="pagination-sm" max-size="5" on-select-page="PageChanged(page)" total-items="UserList.totalCount" page="PageIndex" items-per-page="PageSize" boundary-links="true" rotate="false" first-text="<<" last-text=">>" next-text=">" previous-text="<"></pagination>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="confirmModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Do you want to delete this user ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="DeleteUser()">Ok</button>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                window.scrollTo(0, 0);     // run it a bit later also for browser compatibility
            }, 1000);
        })
    </script>
